.container{
    display: flex;
    background-color: blue;
}

.container div{
    background-color: white;
    margin: 10px;
    padding:20px;
    font-size: 35px;
  

    baclground-color: white;
}

.container div:nth-child(1){
    order:2;
}

.container div:nth-child(2){
     order:3;
}

.container div:nth-child(3){
     order:0;
}

.container div:nth-child(4){
     order:1;
}

.container2{
    display:flex;
    background-color: yellow;
    flex-direction:column-reverese;
}

.container2 div{
    background-color: white;
    margin: 10px;
    padding:20px;

}

.container{
    display: flex;
    background-color: brown;
    flex-direction: row;
}

.container3{
    background-color: brown;
    flex-direction: row;
}

.container3 div{
    background-color: white;
    margin:10px;
    padding:20px;
    font-size: 35px;
}

.container3 div:nth-child(1){
    flex-grow: 4;
}

.container3 div:nth-child(2){
    flex-grow:2;
}